body {
    background-color: #f8f9fa;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    color: #343a40;
}

.list-group-item {
    background-color: #fff;
    border: 1px solid #dee2e6;
    margin-bottom: 10px;
}

.list-group-item h5 {
    color: #007bff;
}

.form-control {
    padding: 10px;
    font-size: 1.2em;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1.1em;
}
